
/* Page Styles */

* {
  box-sizing: border-box;
}

html {
    min-height: 100%;
    width: 100%;
}

body {
    background-color: lightgray;
    width: 100%;
}

a:hover {
  text-decoration: none;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

/* Header Styles */

header {
    background-color: #282828;
    width: 100%;
}

.header-content {
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

/* Section Styles */

section {
    width: 100%;
    margin: auto;
    padding: 20px;
    min-height:100%;
    padding-bottom: 150px;
}

.section-container {
    margin: auto;
    position: relative;
    max-width: 1920px;
}

.section-banner {
  padding-bottom: 10px;
}

.banner-text {
  display: inline;
}

.help {
  display: inline;
  width: 1.5rem;
  height: 1.5rem;
}

.row:after {
    box-sizing: border-box;
    justify-content: center;
    content: "";
    display: flex;
    flex-wrap: wrap;
    clear: both;
}

.column-25 {
    padding:15px;
    float: left;
    position: relative;
    flex-grow: 2.5;
    min-height: 150px;
    min-width: 200px;
    max-width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.column-33 {
    padding:15px;
    float: left;
    position: relative;
    flex-grow: 3.33;
    min-height:150px;
    min-width: 300px;
    max-width: 33.33%;
    margin-left: auto;
    margin-right: auto;
}

.column-50 {
    padding:15px;
    float: left;
    flex-grow: 5;
    min-height: 150px;
    min-width: 300px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.column-66 {
    padding:15px;
    float: left;
    flex-grow: 6.66;
    min-height: 150px;
    min-width: 300px;
    max-width: 66.66%;
    margin-left: auto;
    margin-right: auto;
}

.column-75 {
    padding:15px;
    float: left;
    flex-grow: 7.5;
    min-height: 150px;
    min-width: 300px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.column-100 {
    padding:15px;
    float: left;
    flex-grow: 10;
    width: 100%;
    min-height:150px;
    margin-left: auto;
    margin-right: auto;
}

.column-text-25 {
  padding:15px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  position: relative;
  flex-grow: 2.5;
  max-width: 25%;
  min-width: 250px;
}

.column-text-33 {
  padding:15px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  position: relative;
  flex-grow: 3.33;
  max-width: 33.33%;
  min-width: 300px;
}

.column-text-50 {
  padding:15px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  flex-grow: 5;
  max-width: 50%;
  min-width: 300px;
}

.column-text-66 {
  padding:15px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  flex-grow: 6.66;
  max-width: 66.66%;
  min-width: 300px;
}

.column-text-75 {
  padding:15px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  flex-grow: 7.5;
  max-width: 75%;
  min-width: 300px;
}

.column-text-100 {
  padding:15px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  flex-grow: 10;
}

.column-container-text {
    width: 100%;
    height: 100%;
    padding: 7.5px;
    overflow-wrap: break-word;
}

.column-container {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    text-decoration: none;
    border: 1px solid #282828;
    transition: transform .2s;
    
}

.column-header {
    width: 100%;
    min-height: 2em;
    top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    position: relative;
    justify-items: center;
}

/* Home Styles */

.column-nav-25 {
  padding: 5px;
  float: left;
  position: relative;
  flex-grow: 2.5;
  min-height: 50px;
  min-width: 150px;
  max-width: 25%;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}


.column-nav-container {
  max-width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  text-decoration: none;
  transition: 0.2s;
  background-color: #282828;
  color: #fff;
}

.column-nav-container:hover {
  color: #282828;
  background-color: #00aef0;
}

.twitter-column {
  padding:15px;
  float: left;
  flex-grow: 10;
  width: 100%;
  height:500px;
}

.twitter-container {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  text-decoration: none;
  
}

#library-twitter {
  min-width: 100%;
  background-image: url('library\ twitter.png');
  background-size: cover;
  background-position: top;
  overflow: scroll;
}

#uea-twitter {
  min-width: 100%;
  background-image: url('UEA\ twitter.png');
  background-size: cover;
  background-position: top;
  overflow: scroll;
}

#home-image {
  min-width: 100%;
  height: 250px;
  background-image: url('uea-home.jpg');
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

#library-image {
  min-width: 100%;
  height: 250px;
  background-image: url('uea-library.jpg');
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

.thumbnail-image {
  width: 100%;
  height: auto;
  padding: 10px;
}

/* report & support Styles*/

.campaign-column {
  padding:15px;
  float: left;
  flex-grow: 10;
  width: 100%;
  height:500px;
}

.campaign-container {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  text-decoration: none;
  
}

#campaign1 {
  min-width: 100%;
  background-image: url('campaign1.jpeg');
  background-size: 99%;
  background-position: top;
  overflow: none;
}




/* Campus Map Styles */

#map-container {
  position: relative
}

#map-banner {
  position: relative;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#page-searchbar {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 3px;
}

#map-categories {
  overflow: hidden;
  align-items: center;
}

#map-categories a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 7px 10px;
  text-decoration: none;
  cursor: pointer;
}

#map-categories a:hover,
#map-categories a:focus {
  background-color: rgb(228, 0, 135);
}

#map-content {
  min-width: 100%;
  height: 70vh;
  background-image: url('map.png');
  background-size: cover;
  background-position: center;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 50vh;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: lightgray;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #282828;
  width: 80%;
}

.close {
  color: #fff;
  float: right;
  font-size: 25px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #00aef0;
  text-decoration: none;
  cursor: pointer;
}

/* Footer Styles */

footer {
    width: 100%;
    position: absolute;
    bottom: 0%;
}

.footer-content {
    padding: 0.5rem;
    margin: auto;
    text-align: center;
    max-width: 1920px;
}

#topBtn-container {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0%;
}

#topBtn {
  background-color:#282828;
  color:#fff;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.2s;
  padding: 0.5rem;

}

#topBtn:hover {
  background-color: #333333;
  color: #00aef0;
}

/* Text Styles */

.text-white {
  color:#fff;
  text-decoration: none;
}

.text-dark {
  color:#282828;
  text-decoration: none;
}

/* Bootstrap Background Color Overrides */

.bg-dark {
    background-color: #282828 !important;
  }

.bg-light {
  background-color: lightgray !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-primary {
    background-color: rgb(228, 0, 135) !important;
}

.bg-secondary {
    background-color:#00aef0 !important;
}

/* Bootstrap Override Styles */

  .navbar-dark .navbar-nav .nav-link {
    color:#fff;
  }
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link:focus {
    color:#00aef0;
  }

  .navbar-dark .navbar-text a,
  .navbar-dark .navbar-text a:hover,
  .navbar-dark .navbar-text a:focus {
    color: #00aef0;
  }

  .navbar-dark .navbar-nav .active>.nav-link,
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .show>.nav-link {
    color: #00aef0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #282828;
  background-color: #00aef0;
}
.dropdown-item.active, .dropdown-item:active {
  color: #282828;
  text-decoration: none;
  background-color: #00aef0;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown-item:hover>.dropdown-menu {
  display: block;
}

.navbar-light .navbar-nav .nav-link {
  color:#282828;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color:rgb(228, 0, 135);
}

.navbar-light .navbar-text a,
.navbar-light .navbar-text a:hover,
.navbar-light .navbar-text a:focus {
  color: rgb(228, 0, 135);
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: rgb(228, 0, 135);
}
